<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.uta.voicecord"
    android:versionCode="1"
    android:versionName="0.1">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>
    <application android:label="VoiceCord Module" android:hasCode="true">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="VoiceCord phase1: inject test tone at post-Krisp (com.discord)"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
    </application>
</manifest>
